
nav{
font-size:24px;
color: black;
font-family: 'Noto Serif', serif;
text-decoration: none;
float:right;
}
a {
	text-decoration-line: none;
	color:black;
}
h1{
font-size: 60px;
color: #F3CDA6;
font-family: 'Noto Serif', serif;
}
h2{
font-size: 45px;
color: #F3CDA6;
font-family: 'Noto Serif', serif;
}
body{
font-size: 30px;
font-family: 'HelveticaNeue-Light', sans-serif;
}
p{
color: white;	
}
img {display: block; width: 100%;}
.column {float: left;
}
.two-columns .column {
	width: 50%;
	background-color: #73A6A5;
}
.three-columns .column {width: 33.3%;
}
.clearfix: after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.gallery {
	color: black;
}
