
h1{
font-size: 60px;
color: black;
}
h2{
color: black;
}
body{
font-size: 30px;
font-family: 'Noto Serif', serif;
}
p{
color: black;	
}
header {
	background-color: #FFED74;
	border: 1px black solid;
    padding: 20px;
}
nav {
	background-color: #E8C66A;
	border: 1px black solid;
    padding: 20px;
}
article {
	background-color: #E89C6C;
	border: 1px black solid;
    padding: 20px;
}
footer {
	background-color: #FF957E;
	border: 1px black solid;
    padding: 20px;
}